html {
  background-color: #000000;
}

body {
  margin: 0;
  background-color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#root {
  background-color: #000000;
}

#navbar {
  background-color: #063E1D!important;
}

#labels-column {
  background-color: #052F15;
  padding: 0;
  padding-left: .5rem;
  padding-right: .1rem;
}

#utilities-row {
  background-color: #031F0E;
  padding: 0;
}

#label-buttons {
  border: none;
  font-weight: 600;
  width: 6em;
  padding: .15em;
  text-align: left;
  color: #000000;
}

#label-icon {
  width: 1.5em;
  margin-right: .45em
}

#title-label-icon {
  width: 1.25em;
  margin-right: .45em
}

#hoist-m {
  color: #16DB65;
  font-size: .80em;
  font-weight: 700;
}

#hoist-m:hover {
  color: #DA168C;
}

span.logo-brackets {
  color: #ffffff;
  font-weight: 700;
  font-size: .80em;
  padding: .05em;
}

span.logo-brackets:hover {
  color: #000000;
}

#logo:hover {
  color: #16DB65!important;
  transition: .4s;
}

.file-card {
  background-color: #000000!important;
  border: none!important;
  border-radius: 0!important;
  max-width: 20%!important;
  margin: .5rem;
}

.file-card-header {
  /* padding-bottom: 0!important; */
  background-color: #021007!important;
  /* color: #000000!important; */
  font-weight: 500;
  font-size: .8rem;
  border-bottom: none!important;
  border-radius: 0!important;
}

.file-card-body {
  padding-top: 0.25em!important;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0!important;
}

.file-card-image {
  background-color: #021007!important;
  margin: 0 0 .2rem 0!important;
  border: none!important;
  border-radius: 0!important;
  padding: 0.5em!important;
}

.file-card-button {
  background-color: #16DB65!important;
  width: 6em;
  border-width: .15rem!important;
  border-color: #000000!important;
  /* border-radius: 0!important; */
  margin-top: 0.1em;
  margin-bottom: .5em;
  padding: 0em!important;
  font-weight: 500!important;
  /* padding-bottom: .15em!important; */
  letter-spacing: .05rem;
  color: #000000!important;
}

.file-card-button:hover {
  background-color: #000000!important;
  color:#16DB65!important;
  font-weight: 500!important;
  border-color: #16DB65!important;
}

#new-file-button {
  background-color: #16DB65;
  border-color:#16DB65;
  margin-left: 0!important;
  font-weight: 500;
  color: #000000;
  border-width: .15rem!important;
}

#new-file-button:hover {
  background-color: #000000!important;
  color:#16DB65!important;
  font-weight: 500!important;
  border-color: #16DB65!important;
}